
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root{
    /* main theme color */
    --first-color: #0e2431;
    --second-color:#4285F4;
    --third-color:#777;

    /* Hover color */
    --hover-color:#2477fc;

    /* background-color */
    --body-bg-color:#fefefe;
    --card-bg-color:#fff;
    --modal-bg-color:#fff;
    --bg-transparent-color:rgba(0,0,0,0.1);
    --transparent-color-01:rgba(0, 0, 0, 0.1);
    --transparent-color-02:rgba(106, 89, 209, 0.1);
    --line-color:#d7d7d7;

    /* color-filter */

    --color-filter: invert(1);

    /* box shadow */
    --box-shadow: 0px 0px 20px rgb(0 0 0 /10% );

    /* font size */
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* scroll bar colors */

    --scroll-bar-color:#c5cadf;
    --scroll-thumb-color:#70768a;
    --scroll-bar-color:#454f6b;

}
/* Dark Theme starts here */
.dark-theme{
    --first-color: #fff;
    --second-color:#6a59d1;
    --third-color:#a9afc3;

    /* Hover color */
    --hover-color:#614fd0;

    /* background-color */
    --body-bg-color:#0e1b31;
    --body-bg-color:#132347;
    --modal-bg-color:#102048;
    --bg-transparent-color:rgba(255,255,255,0.1);
    --transparent-color-01:rgba(255,255, 255, 0.1);
    --line-color:#454f6b;

        /* color-filter */

        --color-filter: invert(0);


    /* scroll bar colors */

    --scroll-bar-color:#c1ceff;
    --scroll-thumb-color:#282f4e;
    --scroll-bar-color:#454f6b;

}

/* Dark Theme ends here */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}

body{
    color: var(--first-color);
    background-color: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;

}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* scroll top to bottom */

.scrollToTop-btn{
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}
.scrollToTop-btn.active{
    right: 20px;
    pointer-events: all;
    opacity: 1;
}

/* scroll top to bottom */

/* light/Dark theme button */
.theme_btn{
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.theme_btn .fa-sun{
    display: none;
}
/* light/Dark theme button ends here */


/* scrollbar starts here */
::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--hover-color);
}
/* scrollbar ends here */


/* Header style starts here */
header{
    z-index: 999999;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}
header.sticky{
    background: rgba(255, 255, 255, .1);
    box-shadow: var(--box-shadow);
}
header.sticky .nav_bar{
    height: calc(3.5rem + 1rem);
}
.nav_bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    transition: .6s ease;
}
.nav_bar .logo>img{
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
    width: 150px;
}

.nav_items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav_items a.active{
    color: var(--second-color);
}

.nav_items a:not(:last-child){
    margin-right: 50px;
}

.nav_items a:hover{
    color: var(--second-color);
}

.nav_menu_btn{
    display: none;
}
/* Header section ends here */


/* Home section stars here */
.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container .media_icons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.home_container .media_icons a{
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}
.home_container .media_icons a:hover{
    color: var(--hover-color);
}
.home_container .info{
    max-width: 50%;
}
.home_container .info h2{
    font-size: 2em;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 25px;
}
.home_container .info h3{
    color: var(--third-color);
    font-size: 1.2em;
    font-weight: 600;
    line-height: 30px;
}
.home_container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 500px;
    text-align: justify;
}
.home_container .info .btn{
    background-color: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 25px;
    letter-spacing: 1px;
    border-radius: 10px;
}
#btn{
    background-color: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 25px;
    letter-spacing: 1px;
    border-radius: 10px;
}
#btn:hover{
    background-color: var(--hover-color);
}
.home_container .home_img{
    position: relative;
}
.home_container .home_img img{
   width: 115%;
    /* padding-right: 50px; */
    
}
.home .scroll_down{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    /* margin-top:20px ; */
}
.home .scroll_down i{
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
    margin-right:2px ;
}
@keyframes arrow-down {
    0%{
        transform: translateY(0);

    }
    30%{
        transform: translateY(10px);
    }
    
}
/* Home section edss here */


/* about section starts here */
.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}
.sub_section{
    position: relative;
    max-width: 1150px;
    margin-right:auto ;
    margin-left:auto ;
}
.section_title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.section_title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform:translateY(-80px)
}
.section_title-02::before{
    content:'';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background-color: var(--second-color);
}
.container{
    position: relative;
    flex-direction: column;
}
.about .container .content{
    column-gap:40px ;
    width: 100%;
}
.about_img img{
    max-width: 75%;
    min-width: 400px;
    border-radius: 10px;
}
.about_info .description{
    max-width: 600px;
}
.about_info .description h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.about_info .description h4{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about_info .description p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}
.about_info .professional_list{
    display: flex;
    column-gap: 30px;
}
.about_info .professional_list .list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}
.about_info .professional_list .list_item h3{
    font-size: 2.5em;
    font-weight: 700;
}
.about_info .professional_list .list_item span{
    color: var(--third-color);
    font-size: var(--small-font-size);
}
/* about section ends  here */

/* skill section starts here */

.skills .container .content{
    width: 100%;
}
.skills_description{
    max-width: 700px;
    margin-bottom: 50px;
}
.skills_description h3{
    font-size: 2em;
    margin-bottom: 5px;
}
.skills_info{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0px auto;
}
.skills_info h4{
    margin-bottom: 20px;
}
.skills_info h4 label{
    background-color: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 400;
    padding: 5px, 15px;
    border-radius: 5px;
}
.education_all{
    margin-bottom: 80px;
}
.edu_list .edu_item{
    background-color: var(--modal-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;
}
.edu_list .edu_item .year{
    font-size: var(--small-font-size);
    margin-bottom: 5px;
}
.edu_list .edu_item p{
    color: var(--third-color);
    font-size: var(--small-font-size);
}
.edu_list .edu_item p span{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.bar{
    background-color: var(--modal-bg-color);
    box-sizing: var(--box-shadow);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;
}
.bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--small-font-size);
}
.bar .info span{
    font-weight: 500;
}

.bar .line{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #c5cadf;
    border-radius: 2px;
}
.bar .line::before{
    content:'';
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    background: var(--second-color);
    border-radius: 2px;
    width: 95%;
}
.br .html:before{
    width: 95%;
}
.br .css:before{
    width: 85%;
}
.br .javascript:before{
    width: 80%;
}
.br .jquery:before{
    width: 80%;
}
.br .php:before{
    width: 75%;
}

.experience_card{
    background: var(--modal-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
}
.experience_card .upper{
    line-height: 30px;

}
.experience_card h3{
    font-size: 1.3em;
    font-weight: 700;
    font-style:italic;
}
.experience_card span{
    color: var(--third-color);
}

.experience_card .hr{
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px ;
}

.edu_list .edu_item:hover, .bar:hover, .experience_card:hover{
    transform: scale(1.03);
}
/* skill section ends here */

 /* services section starts here */

.services .container .content{
    width: 100%;

}
.services_description h3{
    font-size: 2em;
    margin-bottom: 50px;
}
.service_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}.service_card{
    background: var(--line-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}
.service_card> i{
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}
.service_card h3{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}
.service_card .learn_more_btn{
    color: var(--third-color);
    cursor: pointer;
    transition: .3s ease;
}
.service_card .learn_more_btn i{
    transform: .3s ease;
}
.service_card:hover .learn_more_btn i{
    transform: translateX(10px);
}

.service_modal{
    z-index:999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.service_modal.active{
    visibility: visible;
    opacity: 1;
}

.service_modal_body{
    position: relative;
    background: var(--line-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.service_modal.active .service_modal_body{
    transform: translateY(0);
}

.service_modal_body .modal-close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    cursor: pointer;
}

.service_modal_body h3{
    font-size: 2em;
}
.services_modal_body h4{
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 10px;
}
.service_modal_body ul li{
    margin-top: 15px;
}
.service_modal_body ul li i{
    color: var(--second-color);
}
 /* services section ends here */


 /* Portfolio section starts here */

.portfolio .container .content{
    width: 100%;
}
.portfolio_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    gap: 35px;
    margin: 0 auto;
}
.portfolio_list .img_card{
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;

}
.portfolio_list .img_card .overlay{
    transition: 1s ease;
}
.portfolio_list .img_card:hover .overlay{
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.portfolio_list .img_card .info{
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY();
    opacity: 0;
    transition: .5s ease;
}
.portfolio_list .img_card:hover .info{
    transform: translateY(0);
    opacity: 1;
}
.portfolio_list .img_card .info h3{
    font-size: 1.5em;
}
.portfolio_list .img_card .info span{
    font-size: 1.2em;
}
.portfolio_list .img_card img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}


  /* -----------------------------------
        Gallery Section
  --------------------------------------*/
  .portfolio-section {
    padding: 50px 40px;
    background-color: #fcfcfc;
  }
  /* .portfolio-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  } */
  .portfolio-menu {
    text-align: center;
  }
  .control {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #343a40;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
  }
  .control:hover {
    background: #343a40;
  }
  .mixitup-control-active {
    color: #fff;
    background: #343a40;
  }
  .fancybox-container button:focus {
    outline: 0;
    box-shadow: none;
  }
  .portfolio-item {
    padding-top: 30px;
  }
  .pd {
    padding: 0;
    padding: 10px;
  }
  .pd img {
    height: 285px;
    transition: all 0.5s;
  }
  .portfolio-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
  }
  .portfolio-overlay p,
  .portfolio-overlay a {
    position: relative;
    z-index: 4;
  }
  .portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
    z-index: 3;
  }
  .portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
    z-index: 3;
  }
  .portfolio-item:hover .portfolio-overlay::before {
    width: 80%;
    height: 80%;
    border-top: 1px solid #4285F4;
    border-right: 1px solid #4285F4;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
  }
  .portfolio-item:hover .portfolio-overlay::after {
    width: 80%;
    height: 80%;
    border-bottom: 1px solid #4285F4;
    border-left: 1px solid #4285F4;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
  }
  .portfolio-item li:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
  }
  .portfolio-overlay .category {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
  .portfolio-overlay .magnify-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #4285F4;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.25s;
  }
  .portfolio-overlay .magnify-icon:hover {
    background: #1469f3;
  }
  .portfolio-overlay .magnify-icon p span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
  }
  
  /*******Responsive media query******/
  
  /* Extra small devices (portrait phones, less than 576px)*/
  
 /* Portfolio section ends here */

 /* Get into touch */
 /* .get_in_touch{
    margin-top: 70px;

 }
 .get_in_touch .container .content{
    width: 100%;
 }
 .get_in_touch .contact_card{
    position: relative;
    width: 90%;
    background: var(--second-color);
    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 10px;
    column-gap:50px ;
 } */



 /* Testimonial section */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}


.testim {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translatey(-50%);
		-moz-transform: translatey(-50%);
		-ms-transform: translatey(-50%);
		-o-transform: translatey(-50%);
		transform: translatey(-50%);
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: green;
}
    

.testim .arrow.left {
    left: 70px;
}

.testim .arrow.right {
    right: 70px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid green;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: green;
    border-color: green;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: green;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #333;
    width: 70%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}
.Review_section{
    margin-bottom: 0px;
}
/* margin top for some element */
.margin-top{
    margin-top: 150px;
}

/* contact section starts here */
.contact{
    margin-top: 250px;
}

.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.contact_left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact_list li{
    margin-bottom: 40px;
}
.contact_list li h3{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact_list li h3 i{
    color: var(--third-color);
    font-size: 1.3em;
    margin-right: 10px;
}
.contact_list li span{
    color: var(--third-color);
    margin-left: 40px;
}
.contact_list li span a{
    color: var(--third-color);
}

.contact_right p{
    color: var(--third-color);
    font-size: 1.6em;
    margin-bottom: 30px;
}
.contact_right p span{
    color: var(--first-color);
    font-weight: 700;
}
.contact_form input, .contact_form textarea{

    border: none;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}
.contact_form textarea{
    width: 100%;
    resize: none;
}
::placeholder{
    color: var(--first-color);
}
.contact_form .first_row input{
    width: 100%;
}
.contact_form .second_row{
    display: flex;
    justify-content: space-between;
}
.contact_form .second_row input{
    width: 48%;
}
.contact_for #btn{
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;

}
/* contact section ends here */



/* footer starts here */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-color);
    width: 100%;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: #fff;
}

footer a{
    color: #fff;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}
.footer_container .about h2{
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}
.footer_container .about p{
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-bottom: 30px;
}

.footer_container .info,
.footer_container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_container .info h3,
.footer_container .follow h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer_container .info ul,
.footer_container .follow ul{
    display: flex;
}
.footer_container .info a{
    margin: 20px;
}
.footer_container .follow a{
    font-size: 1.5em;
    margin: 20px;
}
.footer_copyright p{
font-size: var(--normal-font-size);
font-weight: 300;
text-align: center;
margin-top: 50px;
}
/* footer ends here */


/* Responsive Design Starts here */
@media screen and (max-width: 1070px) {
    
    /* body{
        margin: 1rem 0, 0, 0;
        
    } */
    .nav_bar{
        height: 10vh;
    }

    header.sticky .nav_bar{
        height: calc(6.5rem + 1rem);
    }


    .navigation{
        position: fixed;
        width: 100%;
        height: 40vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }
    .nav_bar .logo>img{
        color: var(--first-color);
        font-size: 1.3em;
        font-weight: 600;
        width: 300px;
        margin: 20px;

    }

    .nav_items{
        position: relative;
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: .3s ease;
    }

    .navigation.active .nav_items{
        transform: translateY(0);
    }

    .nav_items a{
        margin: 15px 50px;
    }

    .nav_close_btn{
        position: absolute;
        background: url(./images/xmark-solid.svg);
        filter: var(--color-filter);
        background-size: 12px;
        background-position: center;
        top: 0;
        right: 0;
        width: 80px;
        height: 60px;
        margin: 10px;
        cursor: pointer;
        filter: invert(37%) sepia(33%) saturate(4394%) hue-rotate(232deg) brightness(87%) contrast(87%);
        background-repeat: no-repeat;

    }
    .nav_menu_btn{
        background: url(./images/bars-solid.svg);
        filter: var(--color-filter);
        background-size: 30px;
        background-position: center;
        width: 100px;
        height: 80px;
        cursor: pointer;
        filter: invert(37%) sepia(33%) saturate(4394%) hue-rotate(232deg) brightness(87%) contrast(87%);
        background-repeat: no-repeat;
        display: block;
    }

    /* Home section starts here */


    .home{
        position: relative;
        max-width: 1250px;
        max-height: 100vh;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding: 4rem 2rem;
        flex-direction: column;
    }
    
    .home .home_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .home_container .media_icons{
        display: flex;
        flex-direction: row;
        /* margin-left: 20px; */
        gap: 30px;
        transform: translate(150px, -60px);
    }
    .home_container .media_icons a{
        color: var(--second-color);
        font-size: 1.5em;
        margin: 10px 0;
    }
    .home_container .media_icons a:hover{
        color: var(--hover-color);
    }
    .home_container .info{
        width: 90%;
        text-align: center;
        transform: translateX(-100px);
    }
    .home_container .info h2{
        font-size: 3.5em;
        font-weight: bolder;
        line-height: 70px;
        margin-top: -400px;
        
        
    }
    .home_container .info h3{
        color: var(--third-color);
        font-size: 1.5em;
        font-weight: bold;
        line-height: 50px;
    }
    .home_container .info p{
        color: var(--third-color);
        font-size: 1.5em;
        max-width: 680px;
        
    }
    #btn{
        background-color: var(--second-color);
        color: #fff;
        font-size: 1.5em;
        font-weight: 500;
        display: inline-block;
        margin-top: 25px;
        margin-left: 250px;
        padding: 15px 25px;
        letter-spacing: 1px;
        border-radius: 15px;
    }
    .home_container .info .btn{

        margin-left: -200px;

    }
    #btn:hover{
        background-color: var(--hover-color);
    }
    .home_container .home_img{
        position: relative;

    }
    .home_container .home_img img{
        max-width: 150%;
        transform: translate(-50px, -100px);
        /* border-radius: 10px; */
    }
    
    .home .scroll_down{
        color: var(--first-color);
        font-size: 1.5em;
        font-weight: 500;
        margin-top:70px ;
    }
    .home .scroll_down i{
        color: var(--second-color);
        font-size: 1.2em;
        animation: arrow-down ease 2s infinite;
        margin-right:2px ;
    }
    @keyframes arrow-down {
        0%{
            transform: translateY(0);
    
        }
        30%{
            transform: translateY(10px);
        }
        
    }




    .home{
        position: relative;
        max-width: 100%;
        min-height: 55vh;
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 1rem;
        
        flex-direction: column;
    }
    .home .home_container .info{
        font-size: 1.2rem;
        margin-top: 280px;
        margin-left: 180px;
        
    }
    .home .home_container .info p{
        max-width: 100%;
    }

    .about .container .content{
        display: grid;
        grid-column-start: 1;
        width: 100%;
        row-gap:20px;
    }
    /* .home_container .home_img img{
        max-width: 150%;
        transform: translate(-310px, -400px);
    } */

    /* home section ends here */


    .about .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 20px;
    }
 
    .about .content .about_img img{
        transform: translateX(230px);
        margin-bottom: 10px;
    }
    .about_img img{
        min-width:0;
        width: 50%;
    }

    .about_info{
        min-width: 0;
        width: 80%;
    }

    .about_info .description{
        max-width: 100%;
    }
    .about_info .description h3{
        font-size: 4em;
        font-weight: bold;
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .about_info .description h4{
        font-size: 1.8em;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .about_info .description p{
        color: var(--third-color);
        font-size: 2em;
        margin-bottom: 15px;
        padding-bottom: 25px;
        border-bottom: 2px solid var(--line-color);
    }
    .about_info .professional_list{
        display: flex;
        column-gap: 150px;
        align-items: center;
        justify-content: center;
    }
    .about_info .professional_list .list-item{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 20px;
    }
    .about_info .professional_list .list_item h3{
        font-size: 3em;
        font-weight: bold;
    }
    .about_info .professional_list .list_item span{
        color: var(--third-color);
        font-size: 1.5em;
    }
  /* Home section ends here */


/* skill section starts here */

.skills .container .content{
    max-width: 100%;
    margin: 0px;
}
.skills_description{
    max-width: 900px;
    margin-bottom: 50px;
}
.skills_description h3{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
}
.skills_info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
}
.skills_info h4{
    margin-bottom: 20px;
}
.skills_info #h4_label{
    background-color: var(--second-color);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 20px, 50px;
    border-radius: 5px;
}
.education_all{
    margin-bottom: 80px;
}
.edu_list .edu_item{
    background-color: var(--modal-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;
    max-width: 100%;
}
.edu_list .edu_item .year{
    font-size: 1.7em;
    margin-bottom: 8px;
}
.edu_list .edu_item p{
    color: var(--third-color);
    font-size: 1.4em;
}
.edu_list .edu_item p span{
    color: var(--first-color);
    font-size: 1.2em;
    font-weight: bold;
}

.bar{
    background-color: var(--modal-bg-color);
    box-sizing: var(--box-shadow);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;
}
.bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1.7em;
}
.bar .info span{
    font-weight: bold;
}

.bar .line{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #c5cadf;
    border-radius: 2px;
}
.bar .line::before{
    content:'';
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    background: var(--second-color);
    border-radius: 2px;
    width: 95%;
}

.experience_card{
    background: var(--modal-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
    max-width: 100%;
    height: 600px;
}
.experience_card .upper{
    line-height: 50px;

}
.experience_card .upper h5{
    font-size: 2em;
}
.experience_card .upper span{
    font-size: 1.5em;
}
.experience_card p{
    font-size: 1.5em;
}
.experience_card h3{
    font-size: 2.3em;
    font-weight: 700;
    font-style: normal;
    
}
.experience_card span{
    color: var(--third-color);
}

.experience_card .hr{
    width: 100%;
    height: 3px;
    background: var(--line-color);
    margin: 10px 0 22px ;
}

.edu_list .edu_item:hover, .bar:hover, .experience_card:hover{
    transform: scale(1.03);
}

/* skill section ends here */



    /* sevices section starts here */
    .services .container .content{
        max-width: 100%;
        
    
    }
    .services_description h3{
        font-size: 3.5em;
        margin-bottom: 50px;
        
    }
    .service_list{
        display: flex;
       flex-direction: column;
        max-width: 100%;
        margin: 0px;
        gap: 20px;
    }
    .service_card{
        background: var(--card-bg-color);
        border-bottom: 7px solid var(--second-color);
        padding: 100px;
        border-radius: 6px;
        width: 100%;
        height: 600px;
        box-shadow: var(--box-shadow);
    }
    .service_card> i{
        color: var(--second-color);
        font-size: 8em;
        margin-left: 170px;
        margin-bottom: 50px;

    }
    .service_card h3{
        font-size: 2.8em;
        font-weight: bold;
        line-height: 60px;
       /* margin-left: 50px; */
       margin-bottom: 50px;
       text-align: center;
        
    }
    .service_card .learn_more_btn{
        color: var(--third-color);
        cursor: pointer;
        transition: .3s ease;
        font-size: 2.5em;
        margin-left: 100px;
        /* background-color: var(--second-color);
        padding: 20px 30px;
        color: #fff; */
    }
    .service_card .learn_more_btn i{
        transform: .3s ease;
    }
    .service_card:hover .learn_more_btn i{
        transform: translateX(10px);
    }
    
    .service_modal{
        z-index:999999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--bg-transparent-color);
        backdrop-filter: blur(10px);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    .service_modal.active{
        visibility: visible;
        opacity: 1;
    }
    
    .service_modal_body{
        position: relative;
        background: var(--card-bg-color);
        max-width: 800px;
        height: 650px;
        margin: 20px;
        padding: 60px 60px 0px 60px;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: .5s ease;
    }
    
    .service_modal.active .service_modal_body{
        transform: translateY(0);
    }
    
    .service_modal_body .modal-close-btn{
        position: absolute;
        top: 0px;
        right: 15px;
        margin: 20px;
        cursor: pointer;
        font-size: 2.5em;
        margin-bottom: 200px;
    }
    
    .service_modal_body h3{
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 30px;
        
    }
    .services_modal_body h4{
        font-size: 5em;
        font-weight: bolder;
        margin-top: 500px;
    }
    .services_modal_body p{
        font-size: 40px;
        margin-bottom: 500px;
    }
    .services_modal_body .what_provide{
        font-size: 50px;
        font-weight: bold;

    }
    .service_modal_body ul li{
        margin-top: 20px;
        font-size: 1.5em;
    }
    .service_modal_body ul li i{
        color: var(--second-color);
        margin-right: 10px;
    }

    /* services section ends here */


    /* portfolio section starts here */
    .pd img {
        height: 420px;
        transition: all 0.5s;
      }
      .portfolio-overlay {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        text-align: center;
        visibility: hidden;
        transition: all 0.5s;
        transform: scale(0);
      }
    /* portfolio section ends here */

/* Review section starts here */
      .Review_section{
        width: 100%;
        margin-bottom: 350px;
      }
      .testim {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translatey(-50%);
		-moz-transform: translatey(-50%);
		-ms-transform: translatey(-50%);
		-o-transform: translatey(-50%);
		transform: translatey(-50%);
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}



    /* contact section starts here */
    .contact .content{
        flex-direction: column-reverse;
        font-size: 0.rem;
        gap: 60px;
    }
    .contact .contact_left{
        margin-bottom: 40px;
    }
    .contact_form .second_row{
        flex-direction: column;
    }
    .contact_form .second_row input{
        width: 100%;
    }

    .contact .container .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .contact_left h2{
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 40px;
    }
    
    .contact_list li{
        margin-bottom: 40px;
    }
    .contact_list li h3{
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .contact_list li h3 i{
        color: var(--third-color);
        font-size: 1em;
        margin-right: 15px;
    }
    .contact_list li span{
        color: var(--third-color);
        margin-left: 40px;
    }
    .contact_list li span a{
        color: var(--third-color);
    }
    
    .contact_right p{
        color: var(--third-color);
        font-size: 2.2em;
        margin-bottom: 30px;
    }
    .contact_right p span{
        color: var(--first-color);
        font-weight: 700;
        font-size: 1em;
    }
    .contact_form input, .contact_form textarea{
    
        border: none;
        color: var(--first-color);
        background: var(--transparent-color-02);
        font-size: var(--normal-font-size);
        margin-bottom: 20px;
        padding: 15px 40px 40px 20px;
        border-radius: 5px;
    }
    .contact_form textarea{
        width: 100%;
        resize: none;
    }
    ::placeholder{
        color: var(--first-color);
        font-size: 1.6em;
        
    }
    .contact_form .first_row input{
        width: 100%;
    }
    .contact_form .second_row{
        display: flex;
        justify-content: space-between;
    }

    /* contact section ends here */

    /* footer section starts here */
    footer .footer_container{
        flex-direction: column;
        font-size: 2rem;

    }
    .footer_container .about, .footer_container .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer_container .info ul{
        align-items: center;
        flex-direction: column;
    }
    .footer_container .info ul li{
        margin: 5px 0;
    }
    .footer_container .hr{
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, .1);
        margin: 10px 0 22px;

    }
    .margin_left{
        transform: translateX(-100px);
    }
    /* footer section ends here */


    .section{
        /* position: relative; */
        min-width: 100%;
        margin: 0px;
        padding: 0px;
        /* margin-left: auto;
        margin-right: auto; */
        /* padding: 6rem 2rem 2rem; */
    }
    .contact_form input, .contact_form textarea{

        border: none;
        color: var(--first-color);
        background: var(--transparent-color-02);
        font-size: 1.2em;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }
    
}

/* Responsive Design ends here */

@media screen and (max-width:768) {

}
